#ProgressBar
{
  
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  margin-top:40px;
  width: 300px;
  
  text-align: center;
  
  font-size: .8em;
}
#progressBackground
{
  display:block;
  position: absolute;
  top: 0px;
  width: 400px;
  height: 30px;
  
  background-color: lightgray;
  
  border-radius: 5px;
}

#progressValue
{
  display: block;
  width: 0%;
  height: 100%;
  
  background-color: #bcdc53;
  
  border-radius: 5px;

}
@media screen and (min-width: 480px) 
{
  #progressBackground
  {
      position: initial;  
  }
}