#onSearchDetails img
{
    border-radius: 10px;
    width: 80px;
    height: 100px;
    margin: 5px;
}
#onSearchDetails p
{
    border-radius: 10px;
    background-color: #bcdc53;
    margin: 5px;
}
#onSearchDetails
{
    text-align: center;
}

.flexContainer
{
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    
    
    margin-top : 100px;
    padding: 10px;
    height:  520px;
    
    align-content: flex-start;
    justify-content: center;
}