

#sideBar
{
    display :none;

    position: absolute;
    top:30px;
    right: 2px;

    width: 100%;
    height: 94%;
    
    background-color: #f0f0f2;
    border-radius: 25px;
    border-left: 16px solid #bcdc53;   
}

#onClickDetails
{
    display: block;
    position: relative;
    text-align: center;
    
    padding: 40px;

}

#onClickDetails img
{
 
    margin:auto;
    border-radius: 20px;
    width: 100%;
    height: auto;
    
      
}
#closeSideBar
{
    cursor: pointer;
    color:#bcdc53;
    
    font-weight: bold;
    font-size: 1.7em;
    
    position: absolute;
    top: -15px;
    right: 20px;
}
hr
{
    
    margin:auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    
    width: 80%;
    height: 4px;
    
    background-color: #bcdc53;
    
}



/* Mise en page pour les grands écrans */
@media (min-width: 760px) 
{
    #sideBar
    {
        top: 20%;
        width: 400px;
        height: 60%;

    }
    
    #onClickDetails
    {
        height: 100px;
    }
    #onClickDetails img
    {
        margin:auto;
        width: 50%;
        height: auto;
        
    }
}

