#sideBar
{
    display: none;
    position: absolute;
    top:0px;
    right: 2px;

    width: 100%;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    border-left: 16px solid #bcdc53;  
    

}

#onClickDetails
{
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
    
    padding: 10%;
    
    width: 100%;
    height: 100%;
    
}

#onClickDetails img
{
 
    margin:auto;
    border-radius: 20px;
    
    min-width: auto;
    min-height: 150px;
    
    height: 60%;  
    width: auto;  
      
}
#closeSideBar
{
    cursor: pointer;
    color:#bcdc53;
    
    font-weight: bold;
    font-size: 1.7em;
    
    position: absolute;
    top: -15px;
    right: 20px;
}
hr
{
    
    margin:auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    
    width: 80%;
    height: 4px;
    
    background-color: #bcdc53;
    
}

#description
{
    flex-direction: column;
}
/* Mise en page pour les grands écrans */
@media screen and (min-width: 480px) 
{
    #sideBar
    {
        top: 20%;
        width: 30%;
        height: 70%;
        background-color: rgba(255, 255, 255, 1);
        
    }
    
    #onClickDetails img
    {
        margin:auto;
        min-width: 100px;
        width: 60%;
        height: auto;
    }
}
@media screen and (max-height: 300px) 
{
    #sideBar
    {
        min-height: 350px;
        padding: 0px;
        margin: 0px;
    }
    #onClickDetails
    {
        flex-direction: row;
        justify-content: center;
        
        padding: 50px;
    }
    hr
    {
        width: 0px;
        height: 100%
    }
}
